<%= form_for([current_user, @skill]) do |f| %>
  <%= f.text_field :title %>
  <%= f.label :title %>
  <%= f.submit "Add Skill!", class: "submit-skill"%>
<% end %>

<p>Or pick from these preselected skills</p>
<p><%= current_user.name %>'s Skills</p>


